body div{
  font-family: '游ゴシック', '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;;
  color: #333;
}

body a.footer_link_external:hover{
  color: #d72e1f!important;
}

.header_img{
  width: 30%;
  transition: opacity 0.5s ease-in-out;
}

.header_img_changed{
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 13px;
  top: 5px;
  width: 25%;
}

.header_button_phone{
  display: none;
}

.top_bg{
  background-image: url('../img/academy_top_background.webp');
  height: 100vh;
  position: relative;
}

.mainvisual_inner{
  position: absolute;
  left: 9.5vw;
  top: 25vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainvisual_inner img{
  width: 60%;
}

.mainvisual_inner button{
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.service_top{
  width: 1280px;
  padding: 100px 0 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

div.service_top h1{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: .2em;
  margin-bottom: 40px;
}

.service_top p{
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

.service_bottom{
  width: 100%;
  padding: 60px 0 80px;
  position: relative;
  background: #F8F8F8;
}

.service_bottom p{
  width: 1280px;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.service_img{
  width: 60%;
  height: 60%;
  position: absolute;
  top: 200px;
  right: -100px;
  z-index: 10; 
}

.service_bottom .service_img{
  display: none;
}

.information_list{
  width: 900px;
  font-size: 18px;
  font-weight: bold;
}

.white_bg_auto{
  background: white;
  height: auto;
}

.space{
  height: 100px;
  width: auto;
}

.space_short{
  height: 50px;
  width: auto;
}

.space_very_short{
  height: 10px;
  width: auto;
}

.feature_card{
  padding: 40px 0;
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.feature_wrap{
  margin: 0 auto;
  width: 90%;
}

.feature_number{
  position: absolute;
  font-size: 60px;
  top: -35px;
}

.feature_textarea_1{
  padding-right: 5.8%;
}

.feature_textarea_2{
  padding-left: 5.8%;
}

.footer_img{
  width: 185px;
}


/* タブレット用 */
@media screen and (min-width: 693px) and (max-width: 834px){
  img.header_img{
    width: 50%;
  }
  
  img.header_img_changed{
    left: 13px;
    top: 10px;
    width: 31%;
  }

  div.top_bg{
    background-position: center;
  }

  div.mainvisual_inner img{
    width: 90%;
  }
  
  div.mainvisual_inner button{
    width: 50%;
    margin-left: 120px;
    margin-top: 50px;
    height: 70px;
  }

  div.mainvisual_inner button span{
    font-size: 24px;
  }

  div.service_top{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  div.service_top .service_img{
    display: none;
  }

  div.service_top{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  div.service_bottom{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  div.service_bottom p {
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
  }

  div.feature_card{
    padding: 40px 0;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  div.feature_textarea_1{
    padding-right: 0px;
  }

  div.feature_textarea_2{
    padding-left: 0px;
}

  div.feature_img{
    margin-top: 30px;
  }

  div.information_list{
    width: 90%;
  }

  .service_bottom .service_img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 10;
    margin-top: 60px;
  }
}

/* タブレット用 */


/* スマホ用 */

@media screen and (max-width: 692px){
  img.header_img{
    width: 100%;
  }
  
  img.header_img_changed{
    left: 13px;
    top: 10px;
    width: 61%;
  }

  .q-toolbar button.q-btn{
    display: none;
  }

  button.header_button_phone{
    display: block;
    border-radius: 3px;
    background-color: #be0000;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px 8px;
  }

  div.top_bg{
    background-position: center;
  }

  div.mainvisual_inner{
    top: 35vh;
    left: 0.5vw;
  }

  div.mainvisual_inner img{
    width: 100%;
  }
  
  div.mainvisual_inner button{
    width: 75%;
    margin-left: 45px;
    height: 50px;
  }

  div.mainvisual_inner button span{
      font-size: 20px;
  }

  div.service_top{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  div.service_top h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .service_top p {
    font-size: 26px;
  }

  div.service_top .service_img{
    display: none;
  }

  div.service_top{
    width: 100%;
    padding: 40px 0 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.service_bottom{
    width: 100%;
    padding: 40px 0 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.service_bottom p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-bottom: 0px;
  }

  div.feature_card{
    padding: 40px 0;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  div.feature_wrap div{
    width: 100%;
  }

  div.feature_textarea_1{
    padding-right: 0px;
  }

  div.feature_textarea_1 .text-h4{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  div.feature_textarea_2 .text-h4{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  div.feature_textarea_1 .text-body1{
    font-size: 0.8rem;
    line-height: 1rem;
    word-wrap: break-word;
  }

  div.feature_textarea_2 .text-body1{
    font-size: 0.8rem;
    line-height: 1rem;
    word-wrap: break-word;
  }

  div.feature_textarea_2{
    padding-left: 0px;
}

  div.feature_img{
    margin-top: 0px;
  }

  div.q-parallax__content h4{
    font-size: 1.725rem;
    line-height: 2rem;
  }

  div.information_list{
    width: 96%;
    font-size: 14px;
  }

  .service_bottom .service_img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 10;
    margin-top: 60px;
  }
}

/* スマホ用 */